* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 18px;
}
section {
  padding: 50px;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* navigation styling */
.navbar {
  /* position: fixed; */
  width: 100%;
  background: darkslateblue;
  padding: 15px 0;
  font-family: poppins;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar #sidemenu li {
  list-style: none;
  display: inline-block;
}
.navbar #sidemenu a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar #sidemenu li a:hover {
  color: crimson;
}
.navbar.sticky #sidemenu li a:hover {
  color: #fff;
}

/*.................Small screen............. */
nav .fa {
  display: none;
}
@media only screen and (max-width: 600px) {
  nav .fa {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: darkslateblue;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}
/* about styling */

#about {
  background-color: #f2f2f2;
  padding: 50px 0;
  margin: 0 auto;
}

.about-row {
  display: flex;
  align-items: center;
}

.about-col-1 {
  flex: 0 0 50%;
  position: relative;
  padding-left: 50px;
}

.about-col-1 img {
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translateX(-100%);
  animation: slide-in 1s forwards;
}

.about-col-2 {
  flex: 0 0 50%;
  padding-left: 50px;
  max-width: 40%;
}

.subtitle {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff6b6b;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  transition: background 0.5s;
  font-size: 16px;
}
.btn:hover {
  background: #ff6b6b;
  color: #fff;
}

/* Animation */

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Media queries for smaller screens */

@media only screen and (max-width: 768px) {
  .about-row {
    flex-wrap: wrap;
  }

  .about-col-1,
  .about-col-2 {
    flex: 0 0 100%;
    padding-left: 0;
  }

  .about-col-2 {
    max-width: 100%;
    margin: 0 auto;
  }
  .subtitle {
    font-size: 24px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 10px;
  }
}

/* footer */
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: rgb(45, 42, 42);
  color: white;
  padding: 10px 0 30px;
  font-size: 16px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 150px;
  height: 70px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}
