* {
  box-sizing: border-box;
}

body {
  background-color: skyblue;
  color: white;
  font-family: monospace;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 8fr 1fr;
  min-height: 100vh;
}

.dark {
  background-color: darkblue;
}

/* grid styles */
/* Grid area order
  grid-row-start
  grid-column-start
  grid-row-end
  grid--column-end 
  */
header {
  grid-area: 1 /1 /2 /3;
  background-color: #6666ff;
  color: white;
}

#siteLogo {
  width: 100px;
}

h1 {
  font-size: 3rem;
  color: white;
  display: flex;
  justify-content: center;
}

#results {
  grid-area: 2 / 1 / 3 / 2;
  background-color: #9999ff;
  color: white;
}

#main-container {
  grid-area: 2 / 2/ 3 / 3;
  background-color: #e6e6ff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  grid-area: 3 / 1 / 4 / 3;
  background-color: #6666ff;
}

/* main styles */
#img-container {
  display: flex;
  justify-content: space-between;
}

#img-container img {
  max-width: 30%;
}

#chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
