* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 18px;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* navigation styling */
.navbar {
  /* position: fixed; */
  width: 100%;
  background: darkslateblue;
  padding: 15px 0;
  font-family: poppins;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: #ff6b6b;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: #ff6b6b;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar #sidemenu li {
  list-style: none;
  display: inline-block;
}
.navbar #sidemenu a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar #sidemenu li a:hover {
  color: #ff6b6b;
}
.navbar.sticky #sidemenu li a:hover {
  color: #fff;
}

/*.................Small screen............. */
nav .fa {
  display: none;
}
@media only screen and (max-width: 600px) {
  nav .fa {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: darkslateblue;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff6b6b;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  transition: background 0.5s;
  font-size: 18px;
}
.btn:hover {
  background: #ff6b6b;
  color: #fff;
}

/* Animation */

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Media queries for smaller screens */

@media only screen and (max-width: 768px) {
  .vote-row {
    flex-wrap: wrap;
  }

  .vote-col-1,
  .vote-col-2 {
    flex: 0 0 100%;
    padding-left: 0;
  }

  .vote-col-2 {
    max-width: 100%;
    margin: 0 auto;
  }
  .subtitle {
    font-size: 24px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 10px;
  }
}

/* form */
.registration-form form {
  display: none;
}
.registration-form form:first-child {
  display: block;
}
.registration-form h2 {
  margin-top: 0;
}
.registration-form label {
  display: block;
  margin-bottom: 5px;
}
.registration-form input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.registration-form button {
  padding: 5px 10px;
  background-color: #ff6b6b;
  color: white;
  border: none;
  border-radius: 5px;
  width: 20%;
  cursor: pointer;
  margin-bottom: 30px;
  height: 40px;
  font-size: 18px;
}
.registration-form button.prev-button {
  background-color: #ccc;
}
.registration-form button.submit-button {
  background-color: #ff6b6b;
}
@media screen and (min-width: 768px) {
  .registration-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .registration-form form {
    width: 50%;
    margin: 0 10px;
  }
}

/* footer */
footer {
  width: 100%;
  position: relative;
  align-items: center;
  bottom: 0;
  text-align: center;
  background-color: rgb(45, 42, 42);
  color: white;
  padding: 10px 0 30px;
  font-size: 16px;
  line-height: 30px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}
.logo {
  width: 100px;
}

img {
  justify-content: center;
}
