* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-image: url("../images/kid.jpg");
  backdrop-filter: blur(15px);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  display: flex;
  justify-content: center;
  max-width: 80%;
}

#siteLogo {
  width: 100px;
}

h1 {
  font-size: 2rem;
  padding-top: 30px;
  padding-bottom: 30px;
}
h2 {
  font-size: 1rem;
  padding-bottom: 10px;
  text-decoration: none;
}

form {
  font-family: Arial, Helvetica, sans-serif;
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border-color: #fff;
}

input {
  margin-bottom: 1rem;
  height: 2rem;
  background-color: whitesmoke;
  border: none;
}

label {
  margin-top: 1rem;
}

tr:hover {
  background-color: mediumorchid;
}

tr:nth-child(even) {
  background-color: salmon;
}

#submit-button {
  height: 3rem;
  font-size: 18px;

  border: none;
}

#submit-button:hover {
  background-color: mediumorchid;
  color: #fff;
  border-radius: 20px;
}

#vote {
  border-radius: 20px;
  transition-duration: 0.35s;
  padding-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  font-size: 16px;
}
