* {
  box-sizing: border-box;
  margin: 0 auto;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 9;
}
.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: space-between;
}
.brand-logo {
  width: 200px;
  height: 70px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  margin-left: 20px;
}

.nav-items a img {
  width: 30px;
}

.links-container {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
  border-top: 1px solid #d1d1d1;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #555;
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
}

.hero {
  background-image: url("../images/reading.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}

.grid-container {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.grid-container img {
  padding-bottom: 60px;
}
.content {
  width: 1450px;
  position: relative;
  padding-top: 60px;
  font-size: 18px;
}
.content h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 10px;
}

#contact {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  background-color: rgb(128, 185, 235);
}
article {
  margin: 1rem;
  padding-top: 40px;
  padding-bottom: 60px;
  width: 700px;
  height: 300px;
  background-color: rgb(128, 185, 235);
  position: relative;
  animation: moving 3s linear;
  text-align: center;
}

@keyframes moving {
  0% {
    left: 20px;
  }
  25% {
    left: 25%;
  }
}

button {
  padding: 1rem 3rem;
  width: 30%;
  border-radius: 20px;
  transition-duration: 0.35s;
  padding-top: 20px;
  border: rgb(116, 116, 229);
}

button:hover {
  background-color: rgb(116, 116, 229);
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}

#contact h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  font-family: monospace;
  background-color: azure;
  color: black;
  font-size: 16px;
  text-align: justify;
  margin: 30px;
}

footer {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: rgb(45, 42, 42);
  color: white;
  padding: 10px 0 30px;

  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 150px;
  height: 70px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}

#container-1 {
  margin: auto;
  border: 50px solid aliceblue;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  height: 260px;
  width: 600px;
  background-color: rgb(127, 127, 203);
}
p {
  color: black;
}

img {
  justify-content: center;
}

.services {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

/* * {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  background-color: rgb(57, 50, 50);
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.logo {
  width: 200px;
  height: 70px;
  float: left;
}

menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: white;
} */

/* header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
ul li a {
  text-decoration: none;
  color: #aaaaaa;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

article {
  display: flex;
  justify-content: space-between;
  min-width: 960px;
  max-height: 440px;
  margin-left: 30px;
}

article p {
  overflow-y: scroll;
}

button {
  padding: 1rem 3rem;
  width: 75%;
  border-radius: 10px;
  transition-duration: 0.35s;
}

button:hover {
  background-color: teal;
}

footer {
  background-color: #aaaaaa;
  min-height: 200px;
  margin-top: 30px;
} */
