* {
  box-sizing: border-box;
  margin: 0 auto;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 9;
}
.nav {
  padding: 10px;
  display: flex;
  justify-content: center;
}
.brand-logo {
  width: 200px;
  height: 70px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  margin-left: 20px;
}

.nav-items a img {
  width: 30px;
}

.links-container {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #555;
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
}

.grid-container {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
.grid-container img {
  padding-bottom: 60px;
}

.content {
  width: 1450px;
  position: relative;
  padding-top: 60px;
  font-size: 18px;
  color: #555;
}
.content h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  padding-bottom: 10px;
}

#contact {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  justify-content: center;
  background-color: pink;
  color: #555;
}
article {
  margin: 1rem;
  padding-top: 40px;
  padding-bottom: 60px;
  width: 700px;
  height: 300px;
  background-color: plum;
  position: relative;
  animation: moving 3s linear;
  text-align: center;
  color: #555;
}

@keyframes moving {
  0% {
    left: 20px;
  }
  25% {
    left: 25%;
  }
}

button {
  border-radius: 20px;
  transition-duration: 0.35s;
  padding-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  width: 100px;
}
#vote {
  text-decoration: none;
  font-size: 16px;
}
button:hover {
  background-color: mediumorchid;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
}

#contact h1 {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

body {
  font-family: monospace;
  background-color: azure;
  color: #555;
  font-size: 16px;
  text-align: justify;
  margin: 30px;
}

/* footer */
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: rgb(45, 42, 42);
  color: white;
  padding: 10px 0 30px;

  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 150px;
  height: 70px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}

#container-1 {
  margin: auto;
  border: 50px solid aliceblue;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  height: 260px;
  width: 600px;
  background-color: antiquewhite;
}
p {
  color: #555;
}

img {
  justify-content: center;
}

.services {
  display: flex;
  padding-top: 60px;
  justify-content: space-between;
  align-items: center;
}

.services img:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* slider */

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  background-size: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #555;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* .hero {
  background-image: url("../images/reading.jpg");
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right top;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
} */

/* * {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  background-color: rgb(57, 50, 50);
  background-size: cover;
  height: 100vh;
}

.navbar {
  width: 1200px;
  height: 75px;
  margin: auto;
}

.logo {
  width: 200px;
  height: 70px;
  float: left;
}

menu {
  width: 400px;
  float: left;
  height: 70px;
}

ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  list-style: none;
  margin-left: 62px;
  margin-top: 27px;
  font-size: 14px;
}
ul li a {
  text-decoration: none;
  color: white;
} */

/* header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
ul li a {
  text-decoration: none;
  color: #aaaaaa;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 30px;
}

article {
  display: flex;
  justify-content: space-between;
  min-width: 960px;
  max-height: 440px;
  margin-left: 30px;
}

article p {
  overflow-y: scroll;
}

button {
  padding: 1rem 3rem;
  width: 75%;
  border-radius: 10px;
  transition-duration: 0.35s;
}

button:hover {
  background-color: teal;
}

footer {
  background-color: #aaaaaa;
  min-height: 200px;
  margin-top: 30px;
} */
