* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 18px;
}
section {
  padding: 50px;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* navigation styling */
.navbar {
  /* position: fixed; */
  width: 100%;
  background: darkslategrey;
  padding: 15px 0;
  font-family: poppins;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar #sidemenu li {
  list-style: none;
  display: inline-block;
}
.navbar #sidemenu a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar #sidemenu li a:hover {
  color: crimson;
}
.navbar.sticky #sidemenu li a:hover {
  color: #fff;
}

/*.................Small screen............. */
nav .fa {
  display: none;
}
@media only screen and (max-width: 600px) {
  nav .fa {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: darkslategray;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}
body {
  background-color: skyblue;
  color: white;
  font-family: poppins;
  display: grid;
  /* grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 8fr 1fr; */
  min-height: 100vh;
}

.dark {
  background-color: darkblue;
}

header {
  /* grid-area: 1 /1 /2 /3; */
  background-color: darkslategray;
  color: #555;
}

#siteLogo {
  width: 100px;
}

h1 {
  font-size: 3rem;
  color: #555;
  display: flex;
  justify-content: center;
}

#results {
  /* grid-area: 2 / 1 / 3 / 2; */
  background-color: #9999ff;
  color: white;
}

#main-container {
  /* grid-area: 2 / 2/ 3 / 3; */
  background-color: #e6e6ff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  /* grid-area: 3 / 1 / 4 / 3; */
  background-color: lightcoral;
  align-items: center;
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: rgb(45, 42, 42);
  color: white;
  padding: 10px 0 30px;
  font-size: 16px;
  line-height: 30px;
}
footer a {
  color: #fff;
}
/* main styles */
#img-container {
  display: flex;
  justify-content: space-between;
}

#img-container img {
  max-width: 30%;
}

#chartContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#vote {
  border-radius: 20px;
  transition-duration: 0.35s;
  padding-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  width: 100px;
  text-decoration: none;
  font-size: 16px;
}

/* nav */
