* {
  box-sizing: border-box;
  margin: 0 auto;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 9;
}
.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: center;
}
.brand-logo {
  width: 200px;
  height: 70px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  margin-left: 20px;
}

.nav-items a img {
  width: 30px;
}

.links-container {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #555;
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
}

/* Three columns side by side */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

p {
  color: #555;
}
/* Clear floats */
.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

button {
  border-radius: 20px;
  transition-duration: 0.35s;
  padding-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  width: 100px;
}

.button:hover {
  background-color: #555;
}

/* footer */
footer {
  width: 100%;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: rgb(45, 42, 42);
  color: white;
  padding: 10px 0 30px;

  font-size: 13px;
  line-height: 20px;
}

.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
}

.logo {
  width: 150px;
  height: 70px;
  margin-bottom: 30px;
}

.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}

#container-1 {
  margin: auto;
  border: 50px solid aliceblue;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  height: 260px;
  width: 600px;
  background-color: antiquewhite;
}
p {
  color: #555;
}

#siteLogo {
  width: 100px;
}
