* {
  box-sizing: border-box;
  margin: 0 auto;
}
body {
  background-color: azure;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background: #f5f5f5;
  z-index: 9;
}
.nav {
  padding: 10px 10vw;
  display: flex;
  justify-content: center;
}
.brand-logo {
  width: 200px;
  height: 70px;
}

.nav-items {
  display: flex;
  align-items: center;
}

.nav-items a {
  margin-left: 20px;
}

.nav-items a img {
  width: 30px;
}

.links-container {
  width: 100%;
  display: flex;
  padding: 10px 10vw;
  justify-content: center;
  list-style: none;
}

.link {
  text-transform: capitalize;
  padding: 0 10px;
  margin: 0 5px;
  text-decoration: none;
  color: #555;
  opacity: 0.5;
  transition: 0.5s;
}

.link:hover {
  opacity: 1;
}

.title {
  color: grey;
}

button {
  border-radius: 20px;
  transition-duration: 0.35s;
  padding-top: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  width: 100px;
}

.button:hover {
  background-color: #555;
}

section {
  margin-left: 50px;
}
.team {
  display: flex;
  align-content: center;
  padding-top: 100px;
  justify-content: space-around;
  align-items: center;
  max-width: 1300px;
  margin-left: 60px;
}
.team img {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.team img:hover {
  transform: scaleX(-1);
}
.container1 {
  display: inline-block;
  justify-content: justify;
  text-align: center;
  align-items: center;
  max-width: 350px;
  margin: 2rem;
  margin-left: 60px;
}
.container1 h2 {
  font-size: 24px;
  color: #555;
}

#vote {
  text-decoration: none;
  font-size: 16px;
  color: #555;
}
button:hover {
  background-color: mediumorchid;
  color: #fff;
}

/* footer */
.footer {
  width: 100%;
  display: flex;
  bottom: 0;
  text-align: center;
  background-color: rgb(45, 42, 42);
  color: white;
  padding: 10px 0 30px;
  font-size: 13px;
  line-height: 20px;
  margin-top: 30px;
  justify-content: space-around;
}

ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: #fff;
}

#siteLogo {
  width: 100px;
}
