* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 18px;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* navigation styling */
.navbar {
  /* position: fixed; */
  width: 100%;
  background: darkslategrey;
  padding: 15px 0;
  font-family: poppins;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar #sidemenu li {
  list-style: none;
  display: inline-block;
}
.navbar #sidemenu a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar #sidemenu li a:hover {
  color: crimson;
}
.navbar.sticky #sidemenu li a:hover {
  color: #fff;
}

/*.................Small screen............. */
nav .fa {
  display: none;
}
@media only screen and (max-width: 600px) {
  nav .fa {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: darkslategray;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid palevioletred;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  transition: background 0.5s;
  font-size: 16px;
}
.btn:hover {
  background: palevioletred;
  color: #fff;
}

/* Animation */

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Media queries for smaller screens */

@media only screen and (max-width: 768px) {
  .vote-row {
    flex-wrap: wrap;
  }

  .vote-col-1,
  .vote-col-2 {
    flex: 0 0 100%;
    padding-left: 0;
  }

  .vote-col-2 {
    max-width: 100%;
    margin: 0 auto;
  }
  .subtitle {
    font-size: 24px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 10px;
  }
}

/* form */
.registration-form form {
  display: none;
}
.registration-form form:first-child {
  display: block;
}
.registration-form h2 {
  margin-top: 0;
}
.registration-form label {
  display: block;
  margin-bottom: 5px;
}
.registration-form input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.registration-form button {
  padding: 5px 10px;
  background-color: palevioletred;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.registration-form button.prev-button {
  background-color: #ccc;
}
.registration-form button.submit-button {
  background-color: #008cba;
}
@media screen and (min-width: 768px) {
  .registration-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .registration-form form {
    width: 50%;
    margin: 0 10px;
  }
}

/* slider */

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  background-size: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #555;
}

/* Caption text */
.text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 250px;
  width: 60%;
  margin-left: 300px;
  align-items: center;
  text-align: center;
  background-color: #717171;
  opacity: 60%;
}

.text p {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 250px;
  width: 60%;
  margin-left: 300px;
  align-items: center;
  text-align: center;
  background-color: #717171;
  opacity: 60%;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: mediumorchid;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

@media screen and (max-width: 767px) {
  .slideshow-container {
    height: 300px;
  }
  .mySlides img {
    height: 300px;
  }
  .text {
    font-size: 30px;
    position: absolute;
    top: 20%;
    transform: translate(-80%, -80%);
    text-align: center;
    z-index: 1;
    background-color: #717171;
    opacity: 60%;
    color: #555;
    font-weight: bold;
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* welcome message */

section {
  background-color: #f7f7f7;
  padding: 50px;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 20px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}

/* booking */
/* .row {
  display: flex;
  background-color: #f7f7f7;
} */
.booking-left {
  flex-basis: 35%;
}

.booking-right {
  flex-basis: 60%;
  /* max-width: 50%; */
}
.booking-left p {
  margin-top: 30px;
}
.booking-left p i {
  color: palevioletred;
  margin-right: 15px;
  font-size: 25px;
}
.social-icons a {
  text-decoration: none;
  margin-right: 15px;
  font-size: 30px;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}
.social-icons a:hover {
  color: palevioletred;
  transform: translateY(-5px);
}
.btn.btn-2 {
  display: inline-block;
  background: palevioletred;
}

.booking-right form {
  width: 100%;
}
form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  /* background: darkslategrey; */
  padding: 15px;
  margin: 15px 0;
  color: #555;
  font-size: 18px;
  border-radius: 6px;
}
form .btn-2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

#form2 {
  left: 450px;
}
.step-row {
  width: 360px;
  height: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  box-shadow: 0 -1px 5px -1px #000;
  position: relative;
}

.step-col {
  width: 180px;
  text-align: center;
  color: palevioletred;
  position: relative;
}
#progress {
  position: absolute;
  height: 100%;
  width: 180px;
  background: linear-gradient(to right, palevioletred);
}
#progress::after {
  content: "";
  height: 0;
  width: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: absolute;
  right: -20px;
  top: 0;
  border-left: 20px solid palevioletred;
}
/* footer */
footer {
  width: 100%;
  position: relative;
  align-items: center;
  bottom: 0;
  text-align: center;
  background-color: rgb(45, 42, 42);
  color: white;
  padding: 10px 0 30px;
  font-size: 16px;
  line-height: 30px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}
.logo {
  width: 100px;
}

img {
  justify-content: center;
}
