* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 18px;
}
.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
/* navigation styling */
.navbar {
  /* position: fixed; */
  width: 100%;
  background: darkslategrey;
  padding: 15px 0;
  font-family: poppins;
  transition: all 0.3s ease;
}
.navbar.sticky {
  padding: 15px 0;
  background: crimson;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

.navbar .logo a span {
  color: crimson;
  transition: all 0.3s ease;
}
.navbar.sticky .logo a span {
  color: #fff;
}
.navbar #sidemenu li {
  list-style: none;
  display: inline-block;
}
.navbar #sidemenu a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}
.navbar #sidemenu li a:hover {
  color: crimson;
}
.navbar.sticky #sidemenu li a:hover {
  color: #fff;
}

/*.................Small screen............. */
nav .fa {
  display: none;
}
@media only screen and (max-width: 600px) {
  nav .fa {
    display: block;
    font-size: 25px;
  }
  nav ul {
    background: darkslategray;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
  }
  nav ul li {
    display: block;
    margin: 25px;
  }
  nav ul .fa {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
}

/* home section  */
/* .home {
  display: flex;
  background: url("../images/reading.png") no-repeat center;
  height: 100vh;
  color: #000;
  min-height: 500px;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 35px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 35px;
  margin: 5px 0;
}
.home .home-content .text-3 span {
  color: crimson;
  font-weight: 500;
} */

/* voting */

#vote {
  background-color: #f2f2f2;
  padding: 50px 0;
  margin: 0 auto;
}

.vote-row {
  display: flex;
  align-items: center;
}

.vote-col-1 {
  flex: 0 0 50%;
  position: relative;
  padding-left: 50px;
}

.vote-col-1 img {
  max-width: 100%;
  position: relative;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  animation: slide-in 1s forwards;
}

.vote-col-2 {
  flex: 0 0 50%;
  padding-left: 50px;
  max-width: 40%;
}

.subtitle {
  font-size: 36px;
  margin-bottom: 20px;
}

.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid palevioletred;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  transition: background 0.5s;
  font-size: 16px;
}
.btn:hover {
  background: palevioletred;
  color: #fff;
}

/* Animation */

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Media queries for smaller screens */

@media only screen and (max-width: 768px) {
  .vote-row {
    flex-wrap: wrap;
  }

  .vote-col-1,
  .vote-col-2 {
    flex: 0 0 100%;
    padding-left: 0;
  }

  .vote-col-2 {
    max-width: 100%;
    margin: 0 auto;
  }
  .subtitle {
    font-size: 24px;
  }

  .btn {
    font-size: 14px;
    padding: 8px 16px;
    margin-top: 10px;
  }
}

/* slider */

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
  background-size: cover;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #555;
}

/* Caption text */
.text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 250px;
  width: 60%;
  margin-left: 300px;
  align-items: center;
  text-align: center;
  background-color: #717171;
  opacity: 60%;
}

.text p {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  bottom: 250px;
  width: 60%;
  margin-left: 300px;
  align-items: center;
  text-align: center;
  background-color: #717171;
  opacity: 60%;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: mediumorchid;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

@media screen and (max-width: 767px) {
  .slideshow-container {
    height: 300px;
  }
  .mySlides img {
    height: 300px;
  }
  .text {
    font-size: 30px;
    position: absolute;
    top: 20%;
    transform: translate(-80%, -80%);
    text-align: center;
    z-index: 1;
    background-color: #717171;
    opacity: 60%;
    color: #fff;
    font-weight: bold;
  }
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* welcome message */

section {
  background-color: #f7f7f7;
  padding: 50px;
}

.content {
  max-width: 1300px;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 20px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
  }
}

/* contact */

#contact {
  background-color: lightpink;
  padding: 50px 0;
  text-align: center;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
}

#email {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
  width: 20%;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #ff4d4d;
}

/* Media queries for smaller screens */

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }

  .btn {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  #email {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  button {
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    font-size: 14px;
  }
  #contact {
    padding: 50px;
  }
  .register-btn {
    max-width: 50%;
  }
}

/* footer */
footer {
  width: 100%;
  position: relative;
  align-items: center;
  bottom: 0;
  text-align: center;
  background-color: rgb(45, 42, 42);
  color: white;
  padding: 10px 0 30px;
  font-size: 16px;
  line-height: 30px;
}

ul li a {
  text-decoration: none;
  color: #fff;
}
.logo {
  width: 100px;
}

img {
  justify-content: center;
}

/* services */
#services {
  padding: 50px 0;
}
.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  height: 350px;
  transition: transform 0.5s;
}
.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), palevioletred);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  transition: height 0.5s;
  color: #fff;
}
.layer h3 {
  font-weight: 500;
  margin-bottom: 20px;
}
.layer a {
  margin-top: 20px;
  color: #000;
  text-decoration: none;
  font-size: 16px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.btn {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid palevioletred;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  transition: background 0.5s;
}
.btn:hover {
  background: palevioletred;
  color: #fff;
}
